pop==13.2
acct==2.3
idem==7.4
pop-config==6.10
takara==1.2
dict-toolbox==1.9
azure-common==1.1.23
azure-core==1.3.0
azure-graphrbac==0.40.0
azure-identity==1.4.0
azure-keyvault-keys==4.2.0
azure-keyvault-secrets==4.2.0
azure-mgmt-applicationinsights==0.2.0
azure-mgmt-authorization==0.61.0
azure-mgmt-compute==4.6.2
azure-mgmt-containerregistry==3.0.0rc14
azure-mgmt-containerinstance==2.0.0
azure-mgmt-dns==3.0.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-loganalytics==0.7.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-monitor==0.11.0
azure-mgmt-network==11.0.0
azure-mgmt-rdbms==2.2.0
azure-mgmt-redis==5.0.0
azure-mgmt-resource==8.0.0
azure-mgmt-storage==11.1.0
azure-mgmt-web==0.47.0
azure-storage-blob==12.3.2
msrest==0.6.17
msrestazure==0.6.4
websocket-client==0.56.0
